<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu drop-nav rounded-0 border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Woman
            </a>
            <div class="dropdown-menu drop-nav border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=new_woman" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=tops_woman" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=bottoms_woman" class="dropdown-item">Bottoms</a>
                <a href="{% url 'products' %}?category=sale_woman" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=new_woman,tops_woman,bottoms_woman,sale_woman" class="dropdown-item">All Womens Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Men
            </a>
            <div class="dropdown-menu drop-nav border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=new_men" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=tops_men" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=bottoms_men" class="dropdown-item">Bottoms</a>
                <a href="{% url 'products' %}?category=sale_men" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=new_men,tops_men,bottoms_men,sale_men" class="dropdown-item">All Men Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu drop-nav border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=new_accessories" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=mats" class="dropdown-item">Mats</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=gear" class="dropdown-item">Gear</a>
                <a href="{% url 'products' %}?category=sale_accessories" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=new_arrivals,mats,bags,gear,sale_accessories" class="dropdown-item">Sale</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_woman,new_men,new_accessories" class="dropdown-item">All New Arrivals</a>
                <a href="{% url 'products' %}?category=sale_woman,sale_men,sale_accessories" class="dropdown-item">All Sale</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>